:root {
    --font-color-blue: #2576FF;
    --font-color-dark: #000000;
    --font-color-light: #677788;
    --bg-color-dark: #20335B;

    --size-10:0.625rem;
    --size-12:0.75rem;
    --size-14:0.875rem;
    --size-16:1rem;
    --size-18:1.125rem;
    --size-20:1.25rem;
    --size-30:1.875rem;
    --size-40:2.5rem;
    --size-50:3.125rem;
    --size-100:6.25rem;
    --size-150:9.375rem;
}

html{
    color-scheme: dark light;
    scroll-behavior: smooth;
}

ul{
    display: list-item;
    align-items: center;
    padding: 0;
    margin: 0;
    list-style: none;
}

li { margin: 0 var(--size-30); }

a { text-decoration: none; }
h1, p {margin: 0;}


.nav-list li a:hover {
    color: var(--font-color-blue);
}
.vector1 {
    position: absolute;
    width: 48%;
    height: 100%;
    right: 0%;
    bottom: 30%;
    background: linear-gradient(312.73deg, rgba(217, 217, 217, 0.44) 17.61%, rgba(217, 217, 217, 0) 55.85%);
    clip-path: polygon(85% 0, 0 0, 0 95%, 45% 90%);
}

.vector2 {
    position: absolute;
    width: 48%;
    height: 100%;
    right: 0px;
    top: 0px;
    clip-path: polygon(70% 0, 100% 0%, 100% 50%, 45% 60%);
    background: #E1E7EF;
    z-index: -1;
}

body {
    font-family: 'Inter', sans-serif;
}
.nav .btn{ border-radius: 25px;  }

.btn-primary {
    background-color: var(--font-color-blue);
    border: 1px solid var(--grad-1);
    box-shadow: 0 10px 20px rgba(161, 236, 255, 0.5);
    transition: ease-in-out 0.3s;
    color: white;
    padding: var(--size-16);
}

.hero-section {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 4rem auto;
}

.left-part{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 3rem 1rem;
    flex-wrap: wrap;
}

.hero-text { margin-top: 10px; }

.left-part .actions {
    display: flex;
    align-items: center;
    margin-top: var(--size-50);
}

.btn-play {
    display: flex;
    align-items: center;
    border-radius: 25px;
}

.co-logos{
    position: relative;
    background-color: white;
    height: 80px;
    width: 80px;
    border-radius: 50%;
    box-shadow: 0 0 10px 3px grey;
    margin: 0;
}

.co-logos img{
    position:relative;
    background-color: transparent;
    height: 80%;
    width: 80%;
}

.kb-cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px,1fr));
    gap: var(--size-20);
    justify-items: center;
}

.kb-card{
    display: flex;
    flex-direction: column;
    height: 300px;
    width: 218.5px;
}

.banner-content{ 
    background: #F8FAFE;
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: var(--size-100) var(--size-50);
}

.why-front-section {
    margin: var(--size-100) var(--size-50);
    width:auto;
}

.wf-title {
    display: flex;
    flex-direction: column;
    align-items: center; 
}

.wf-title-body {
    margin: 0 auto;
    text-align:center;
}

.wf-blist {
    display: flex;
    flex-direction: row;
    margin-top: var(--size-50);
}

.bullet-item {
    display: flex;
    flex-direction: column;
    align-items: center;  
}

.top {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.left-wing, .right-wing {
    width: var(--size-150);
    height: 3px;
    background: #ECF2FF;
}

.bullet {
    display: flex;
    justify-content: center;
    align-items: center;  
}

.bannerplay-section{
    margin: var(--size-100);
    overflow: hidden;
}

.video-btn {
    transform: translate(-50%, -50%);
    box-shadow: 0 10px 20px rgba(57, 166, 251, 0.3);
}

.video-btn img {
    width: var(--size-100);
    height: var(--size-100);
    left: 62.5rem;
    position: absolute;
    top: 160rem;
}

.hubspot-section {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: var(--size-100);
}

.form {
    background-color: white;
}