@media (max-width: 1023px) {
    [aria-controls="menu-list"] {
        display:block;
        margin-bottom:10px;
        /* display: none; */
    }

    [aria-expanded = "false"] ~ .navbar-links {
        display: none;
    }

    [aria-expanded="true"] ~ .navbar-links{
        display: grid;
        justify-items: center;
    }

    [aria-expanded="true"] .close{
        display:inline-block;
    }

    [aria-expanded="false"] .close{
        display:none;
    }

    [aria-expanded="true"] .open {
        display:none;
    }

    .toggle-button {
        display: flex;
    }

    .header {
        display: flex;
        flex-direction: column;
        width: 100%;
        
    }
    
    .nav-list, 
    a.btn.btn-primary {
        margin: 0;
    }

    .navbar-links {
        flex-direction: column;
        margin-top: var(--size-50);
        align-items: center;
    }

    ul.nav-list {
        margin-bottom: var(--size-50);
    }

    nav.nav {
        justify-content: center;
    }

    .hero-section {
        display: flex;
        flex-direction: column;
    }

    .left-part {
        align-items: center; 
        width:inherit;
        align-content: center;
    }

    .title {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .hero-title { 
        text-align: center;
    }

    .kb-cards {
        grid-template-columns: repeat(auto-fit, minmax(400px,2fr));  
    }

    .kb-card {
        width: 25rem;
        height: 15rem;
    }

    .banner-content {
        display: flex;
        flex-direction: column;
    }

    .bs-left {
        align-items: center;
        padding-bottom: var(--size-50);
    }

    .right-wing, 
    .left-wing {
        width: 4.6875rem;
    }

    .video-btn img {
        position: relative;
        left: 23rem;
        top: 28rem;
    }

    .hubspot-section {
        display: flex;
        flex-direction: column;
        row-gap: 5rem;
    }
    
    .woman-three {left: 15rem;}
    .dots {left: 13rem;}
    .hb-right {align-items: center;}
    .hb-right .description {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .description-body {
        font-weight: 600;
        width:40rem;
        text-align: center;
    }

    .pricing-features-list {
        display: flex;
        flex-direction: column;
        align-items: center;
        align-content: stretch;
    }

    .plan-price {
        justify-content: center;
    }

    .plan-divider,
    .plan-body {
        width: 38rem;
    }

    .plan-body {
        text-align:left;
    }

    footer .plan-footer {
        align-items: center;
    }

    .plans-features {
        width: 45rem;
        margin-top: 5rem;
    }

    .plan-feature {
        width: 12rem;
        margin: 0;
    }

    .plan-feature .pf-content {
        width: 300px;
    }

    .hireus-section {
        display: flex;
        flex-direction: column;
    }

    .leftside {
        flex-direction: row;
        padding: 0;
        justify-content: space-around;
    }

    .rightside {
        align-items: center;
        margin-right: var(--size-20);
        margin-left: var(--size-20);
        align-self: center;
        padding: auto;
    }

    .rightside .form {
        max-width: none;
    }
    
    .frame2 { gap: 0;}
    .frame15 {
        display: grid;
        grid-template-columns: 1fr 1fr;
        height: min-content;
        width: fit-content;
    }
}

@media (max-width:768px) {
    .why-front-section { margin: auto;}
    .wf-blist {
        flex-direction: column;
    }
    .bullet-item {
        flex-direction: row;
    }
    .left-wing, .right-wing { display: none;}

    .bannerplay-section {margin: auto;}
    .bannerplay-content img#bannerplay2{
        max-width: -webkit-fill-available;
    }

    .hubspot-section {
        display: flex;
    justify-content: center;
    margin:var(--size-20) auto var(--size-100) auto;
    position: relative;
    flex-direction: column;
    align-items: center;
    }
    .dots {
        left: 0;
    }
    .woman-three{
        left: 0;
        max-width: -webkit-fill-available;
    }
    .description-body{ max-width: 55%;}
    .brands-list { 
        flex-direction: column; 
        gap: var(--size-20);
    }
    .pricing-section {
        display: flex;
    flex-direction: column;
    align-items: center;
    }
    .plan,
    .plan-header,
    .plan-footer {
        padding: 0;
    margin: 0;
    max-width: 50%;
    }
    .plan-divider {
        max-width: -webkit-fill-available;
    }
    .plan-body { max-width: -webkit-fill-available;}
    .plans-features {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .pf-content{
        max-width: -webkit-fill-available;
    }

    .leftside{
        flex-direction: column;
    }

    .hireus-title {
        align-items: center;
    }

    .hs-body {
        text-align: center;
        min-width: 100%;
    }
    .hireus-phrase {
        text-align: center;
        min-width: 100%;
    }

    .bottom-leftside {
        margin: auto;
        align-items: center;
        text-align: center;
    }

    .rightside {
        margin: 20;
        max-width: 85%;
        padding: 0;
    }

    .rightside .form {
        padding: 0;
    }

    .form-group {
        flex-direction: column ;
        width: 100%;
    }

    .formdata {
        text-align: center;
    }

    .form-group input {
        margin: auto auto auto var(--size-20);
        min-width: 85%;
    }

    .form-group.bottom-group { flex-direction: row;} 

    .form-group.dropdown-group { margin-left: var(--size-20); }
    .budget,
    .country {
        min-width: 85%;
    }

    .cblabel2 {
        display: none;
    }
    .actions { margin-bottom: 10%; }
}