@media (max-width: 1023px) {
    [aria-controls="menu-list"] {
        display:block;
        margin-bottom:10px;
        /* display: none; */
    }

    [aria-expanded = "false"] ~ .navbar-links {
        display: none;
    }

    [aria-expanded="true"] ~ .navbar-links{
        display: grid;
        justify-items: center;
    }

    [aria-expanded="true"] .close{
        display:inline-block;
    }

    [aria-expanded="false"] .close{
        display:none;
    }

    [aria-expanded="true"] .open {
        display:none;
    }

    .toggle-button {
        display: flex;
    }

    .header {
        display: flex;
        flex-direction: column;
        width: 100%;
        
    }
    
    .nav-list, 
    a.btn.btn-primary {
        margin: 0;
    }

    .navbar-links {
        flex-direction: column;
        margin-top: var(--size-50);
        align-items: center;
    }

    ul.nav-list {
        margin-bottom: var(--size-50);
    }

    nav.nav {
        justify-content: center;
    }

    .hero-section {
        display: flex;
        flex-direction: column;
    }

    .left-part {
        align-items: center; 
        width:inherit;
        align-content: center;
    }

    .title {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .hero-title { 
        text-align: center;
    }

    .kb-cards {
        grid-template-columns: repeat(auto-fit, minmax(400px,2fr));  
    }

    .kb-card {
        width: 25rem;
        height: 15rem;
    }

    .banner-content {
        display: flex;
        flex-direction: column;
    }

    .bs-left {
        align-items: center;
        padding-bottom: var(--size-50);
    }

    .right-wing, 
    .left-wing {
        width: 75px;
    }

    .video-btn img {
        position: relative;
        left: 23rem;
        top: 28rem;
    }

    .hubspot-section {
        display: flex;
        flex-direction: column;
        row-gap: 5rem;
    }
    
    .woman-three {left: 15rem;}
    .dots {left: 13rem;}
    .hb-right {align-items: center;}
    .hb-right .description {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .description-body {
        font-weight: 600;
        width:40rem;
        text-align: center;
    }

}