.top-section {margin: var(--size-20);}

.header {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: nowrap;
}

.logo { width: var(--size-150); }

.nav {
    display: flex;
    flex-direction: row;
    align-content: center;
    flex-wrap: nowrap;
}

.nav-list{
    display: flex;
    margin: 0 var(--size-100);
}

.nav-list li {
    margin-right: var(--size-10);
}

a.btn.btn-primary { margin: 0 var(--size-50);}

.left-part .hero-title {
    line-height: 55px;
    font-weight: 500;
}

.left-part .hero-text { 
    color: var(--font-color-light);
    margin-top: 10px; 
}

.learn-more {
    margin-left: 20px;
    color: var(--font-color-blue);
    font-weight: 700;
}

.logo1 {
    left: 85%;
    top: 5%;
}

.logo1 img{ 
    left: 10%;
    top: 5%;
}

.logo2 {
    left: 35%;
    bottom: 10%;
}

.logo2 img{
    left: 15%;
    top: 5%;
    height: 70%;
    width: 70%;
}

.logo3 {
    left: 80%;
    top: 60%;
    height: 70px;
    width: 70px;
}

.logo3 img{
    width: 70%;
    height: 70%;
    left: 15%;
    top: 10%;
}

.logo4 {
    left: 40%;
    top: 45%;
    width: 75px;
    height: 75px;
}

.logo4 img{
    left: 10%;
    top: 5%;
}

.logo5{
    left: 5%;
    bottom: 50%;
    height: 70px;
    width: 70px;
}

.logo5 img{
    width: 75%;
    height: 75%;
    left: 10%;
    top: 10%;
}

.logo6 {
    left: 15%;
    bottom: 15%;
}

.logo6 img{
    height: 70%;
    width: 70%;
    left: 15%;
    top: 15%; 
}

.logo7 {
    left: 50%;
    bottom: 25%;
}

.logo7 img{
    left: 10%;
    top: 10%;
}

.kb-header {
    margin-bottom: var(--size-40);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.kb-body { color: var(--font-color-light); }

.kb-card {
    padding: var(--size-30);
    box-shadow: 0px 0px 25px 10px rgb(150 150 150 / 50%);
    background: white;
    color: black;
    border-radius:  8px;
    height: 300px;
    width: 218.5px;
}

.kb-card img{ 
    height: 50px;
    width: 50px;
}

.kb-card-body { 
    color: var(--font-color-light); 
    line-height: var(--size-30);
}

.kb-card-lm { 
    color: #2476FF; 
    font-weight: 700;
    margin-top: var(--size-20);
}

.bs-left {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
}

.bs-left h2{
    font-weight: 600;
    font-size: xx-large;
}

.bs-right {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    flex-wrap: wrap;
}

.wf-title-body { color: var(--font-color-light); }

.bullet{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: #ECF2FF;
    padding: 10px;
}
.bullet-item:first-child .top .left-wing, .bullet-item:last-child .top .right-wing{
    height: 0;
}
.bullet-inner{
    width: 6px;
    height: 6px;
    background: #0066FF;
    border-radius: 50%;
}

.tile { font-weight: 500; }

.hb-left {
    position: relative;
}
.woman-three {
    position:absolute;
    top: 0px;
    left: 75px;
    z-index: 1;
    width: 371px;
    height: 425px;
}

.dots {
    width: 200px;
    height: 370px;
    position: relative;
    top: 75px;
    left: 25px;
}

.hb-right {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    padding: 0px;
    gap: 50px;
    width: 768px;
    height: 252px;
}

.description-body{
    font-weight: 500;
    width: 482px;
    height: 128px;
    padding-top: var(--size-30);
    font-size: 22px;
}

.person h3{ margin-bottom: var(--size-10); }
.person p { 
    color: var(--font-color-light); 
    font-weight: 600;
}

.brands-section-title {
    font-weight: 700;
    font-size: 30px;
    text-align: center;
    color: #5f6368;
    padding-bottom: var(--size-30);
    font-size: var(--size-30);
}

.brands-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: space-evenly;
    align-items: center;
}

.brand-item {
    width: 113px;
    height: 40px;
}

.pricing-title {
    text-align: center;
}

.pricing-section {
    margin: var(--size-50);
}

.pricing-features-list {
    display: grid;
    grid-template-columns: .5fr 1fr;
    margin: var(--size-100);
    column-gap: var(--size-50);
    justify-items: center;
}

.pf-img {
    width: 50px;
    height: 50px;
}

.plan {
    display: flex;
    flex-direction:column;
    box-shadow: 0px 0px 25px 11px rgb(150 150 150 / 50%);
    padding: 30px;
}

.plan-price {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.plan-price h2 {
    font-size: var(--size-50);
    font-weight: 500;
}

.plan-price p {
    font-weight: 500;
    color: var(--font-color-light);
}

.plan-body {
    margin-top: var(--size-40);
    color: var(--font-color-light);
    line-height: 25px;
    font-weight: 500;
}

.plan-divider {
    width: 350px;
    float: left;
}

.plan-footer {
    padding-top: var(--size-50);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.pf-body {
    /* margin-top: var(--size-14); */
    color: var(--font-color-light);
    padding-top: 5px;
    padding-bottom: 10px;
}

.plans-features {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap:var(--size-20);
    grid-template-rows: 1fr;
    row-gap: var(--size-40);
    width: 60rem;
}

.plan-feature {
    padding-bottom: var(--size-100);
}

.hireus-section {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    background-color: var(--bg-color-dark);
    flex: none;
    order: 9;
    flex-grow: 0;
    z-index: 9;
}

.leftside {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 0px 0px 0px 70px;
    gap: 60px;
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 1;
}

.top-leftside {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 32px;
    flex: none;
    order: 0;
    flex-grow: 0;
}

.hireus-title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 0px;
    gap: 0;
    flex: none;
    order: 0;
    flex-grow: 0;
}

.hs-header {
    color: white;
    font-size: var(--size-30);
    margin-bottom: var(--size-10);
}
.hs-body {
    color: var(--font-color-light);
    font-size: var(--size-20);
    font-weight: 400;
    margin-bottom: var(--size-40);
    margin-top: 0px;
    line-height: var(--size-30);
}
hr { width: 100%;}
.hireus-phrase {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    flex: none;
    order: 1;
    flex-grow: 0;
    color: #FFFFFF;
    font-weight: 500;
}

.bottom-leftside {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: var(--size-50);
    flex: none;
    order: 1;
    flex-grow: 0;
}

.person-name {
    color: #FFFFFF;
}

.personimages {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 30px;
}

.pimages {
    border-radius: 50%;
    height: var(--size-50);
    width: var(--size-50);
}