.top-section { margin: var(--size-40); }

.header {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: nowrap;
}

.logo { width: var(--size-150); }

.nav {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-evenly;
    align-content: center;
    flex-wrap: nowrap;
}

.nav-list{display: flex;}
.nav-list li {
    margin-right: var(--size-10);
}